.admin-login__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1540px;
    font-weight: bold;
}

.admin-login__heading {
    margin-bottom: 20px;
    text-align: center;
}

.admin-form {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.form__error {
    font-size: 14px;
    color: #ff0000;
    text-align: left;
    margin-top: 5px;
}

.admin-form__group {
    margin-bottom: 5px;
}

.admin-form__group-title {
    text-align: left;
}

.admin-form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.admin-form__button {
    margin-top: 20px;
}

.admin-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

@media (min-width: 1400px) and (max-width: 1540px) {
    .admin-login__content {
        padding: 40px 20px;
    }

    .admin-form {
        width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .admin-login__content {
        padding: 25px 10px;
    }

    .admin-form {
        width: 75%;
    }

    .admin-form__button-submit {
        font-size: 18px;
    }
}